interface enigma_if;
    logic [25:0] input_letter;
    logic [4:0] n1, n2, n3;
    logic [25:0] output_letter;

    modport dut (
        input input_letter, n1, n2, n3,
        output output_letter
    );
endinterface
